<div class="content" style="padding: 24px; background: #fff; min-height: 100%">
  <div class="upload-container" nz-flex [nzAlign]="'center'">
    <nz-upload
      nzListType="picture-card"
      [(nzFileList)]="fileList"
      [nzShowButton]="fileList.length < 1"
      [nzPreview]="handlePreview"
      [nzBeforeUpload]="beforeUploadImage"
      (nzChange)="onChangeUpload($event)"
    >
      <div>
        <span nz-icon nzType="plus"></span>
        <div style="margin-top: 8px">Upload</div>
      </div>
    </nz-upload>
    <nz-modal
      [nzVisible]="previewVisible"
      [nzContent]="modalContent"
      [nzFooter]="null"
      (nzOnCancel)="previewVisible = false"
    >
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </nz-modal>
  </div>
  <form
    nz-form
    [formGroup]="validateForm"
    [nzLayout]="'vertical'"
    (ngSubmit)="submitForm()"
  >
    <div nz-row nzJustify="space-evenly">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzRequired nzFor="email"
            >E-mail</nz-form-label
          >
          <nz-form-control [nzSpan]="null" nzErrorTip="L' email non è valida">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="password" nzRequired
            >Password</nz-form-label
          >
          <nz-form-control
            [nzSpan]="null"
            nzErrorTip="Password debole! La password deve essere lunga almeno 8 caratteri e contenere almeno 3 dei seguenti tipi di caratteri:
            * Lettere minuscole (a-z)
            * Lettere maiuscole (A-Z)
            * Numeri (0-9)
            * Caratteri speciali (!@#$%^&*)"
          >
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              (ngModelChange)="updateConfirmValidator()"
            />
            <span
              nz-icon
              nzType="eye-invisible"
              nzTheme="twotone"
              (click)="visibilityPassword()"
              *ngIf="showPassword"
            ></span>
            <span
              nz-icon
              nzType="eye"
              nzTheme="twotone"
              (click)="visibilityPassword()"
              *ngIf="!showPassword"
            ></span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row nzJustify="space-evenly">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="null" nzFor="checkPassword" nzRequired
            >Confirm Password</nz-form-label
          >
          <nz-form-control [nzSpan]="null" [nzErrorTip]="errorTpl">
            <input
              nz-input
              type="password"
              formControlName="checkPassword"
              id="checkPassword"
            />
            <span
              nz-icon
              nzType="eye-invisible"
              nzTheme="twotone"
              (click)="visibilityCheckPassword()"
              *ngIf="showCheckPassword"
            ></span>
            <span
              nz-icon
              nzType="eye"
              nzTheme="twotone"
              (click)="visibilityCheckPassword()"
              *ngIf="!showCheckPassword"
            ></span>
            <ng-template #errorTpl let-control>
              @if (control.errors?.['required']) { Per favore inserisci una
              password } @if (control.errors?.['confirm']) { Le password non
              coincidono }
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6">
        <nz-form-item>
          <nz-form-label
            [nzSpan]="null"
            nzFor="nickname"
            nzRequired
            nzTooltipTitle="Come vuoi essere chiamato?"
          >
            <span>Nickname</span>
          </nz-form-label>
          <nz-form-control [nzSpan]="null" nzErrorTip="Inserisci un nickname!">
            <input nz-input id="nickname" formControlName="nickname" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-form-item>
      <nz-form-control>
        <div nz-row nzJustify="space-evenly">
          <div
            nz-col
            [nzXs]="24"
            [nzSm]="16"
            [nzMd]="16"
            style="display: flex; justify-content: space-between"
          >
            <button
              nz-button
              nzType="default"
              (click)="resetForm()"
              [disabled]="!validateForm.dirty"
            >
              Clear
            </button>
            <button
              nz-button
              nzType="primary"
              type="submit"
              [disabled]="validateForm.pristine || validateForm.invalid"
            >
              Register
            </button>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
