<nz-spin [nzSize]="'large'" [nzSpinning]="spinner | async">
  <nz-layout>
    <nz-sider
      nzCollapsible
      [nzCollapsed]="isLargeScreen ? true : isCollapsed"
      [nzCollapsedWidth]="0"
      [nzTrigger]="null"
    >
      <div nz-flex class="avatar-mobile" [nzJustify]="'center'">
        <nz-avatar
          [nzAlt]="'Immagine del profilo'"
          nz-dropdown
          [nzDropdownMenu]="menu"
          [nzSrc]="getProfileImage()"
          nzSize="large"
          nzIcon="user"
        ></nz-avatar>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            @if(authenticated()){
            <li nz-menu-item nzDanger (click)="doLogout()">
              <span nz-icon nzType="logout" nzTheme="outline"></span> Logout
            </li>
            }@else {
            <li nz-menu-item (click)="doLogin()">
              <span nz-icon nzType="login" nzTheme="outline"></span>
              Login/Signup
            </li>
            }
          </ul>
        </nz-dropdown-menu>
      </div>
      <ul
        nz-menu
        [nzTheme]="'dark'"
        [nzMode]="'inline'"
        [nzInlineCollapsed]="isCollapsed"
      >
        <li
          aria-label="Home"
          nz-menu-item
          routerLink="home"
          [nzMatchRouter]="true"
          (click)="isCollapsed = true"
        >
          <span nz-icon nzType="home" nzTheme="outline"></span
          ><span class="nav-text">Home</span>
        </li>
        @if(authenticated()){
        <li
          aria-label="Profile"
          nz-menu-item
          routerLink="profile"
          [nzMatchRouter]="true"
          (click)="isCollapsed = true"
        >
          <span nz-icon nzType="export" nzTheme="outline"></span
          ><span class="nav-text">Profile</span>
        </li>
        } @if(authenticated() && userRole=== 'Admin'){
        <li
          nz-menu-item
          routerLink="admin-page"
          [nzMatchRouter]="true"
          (click)="isCollapsed = true"
        >
          <span nz-icon nzType="user" nzTheme="outline"></span>
          <span class="nav-text">Admin Page</span>
        </li>
        }
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        @if(!isLargeScreen){
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
        } @if(isLargeScreen){
        <div nz-flex [nzGap]="100" [nzAlign]="'center'">
          <nz-avatar
            nz-dropdown
            [nzAlt]="'Immagine del profilo'"
            [nzDropdownMenu]="menu"
            [nzSrc]="getProfileImage()"
            [nzSize]="50"
            nzIcon="user"
            class="avatar-desktop"
          ></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              @if(authenticated()){
              <li nz-menu-item nzDanger (click)="doLogout()">
                <span nz-icon nzType="logout" nzTheme="outline"></span> Logout
              </li>
              }@else {
              <li nz-menu-item (click)="doLogin()">
                <span nz-icon nzType="login" nzTheme="outline"></span>
                Login/Signup
              </li>
              }
            </ul>
          </nz-dropdown-menu>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li
              tabindex="0"
              aria-label="Home"
              nz-menu-item
              routerLink="home"
              [nzMatchRouter]="true"
            >
              Home
            </li>
            @if(authenticated()){
            <li
              tabindex="0"
              aria-label="Profile"
              nz-menu-item
              routerLink="profile"
              [nzMatchRouter]="true"
            >
              Profile
            </li>
            } @if(authenticated() && userRole=== 'Admin'){
            <li
              tabindex="0"
              aria-label="Admin"
              nz-menu-item
              routerLink="admin-page"
              [nzMatchRouter]="true"
            >
              Admin Page
            </li>
            }
          </ul>
        </div>
        }
      </nz-header>
      <div class="container">
        <nz-alert
          *ngIf="alert"
          [nzType]="alert.type"
          [nzMessage]="alert.message"
          [nzShowIcon]="true"
        ></nz-alert>
      </div>
      <nz-content class="container">
        <nz-breadcrumb [nzAutoGenerate]="true"> </nz-breadcrumb>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>Footer ©2024</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-spin>
