.logo {
  width: 95px;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 17px;
  float: left;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.trigger:hover {
  color: #1890ff;
}

.ant-layout {
  min-height: 100vh;
}

nz-header {
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

.avatar-mobile {
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.avatar-desktop {
  float: left;
  margin-left: 3%;
}

.container {
  margin-left: 3%;
  margin-right: 3%;
}

nz-alert{
  padding-top: 1.5rem;
  padding-bottom: 0.5rem
}
