<div class="content" style="padding: 24px; background: #fff; min-height: 100%">
  <nz-spin [nzSize]="'large'" [nzSpinning]="spinner">
    <nz-alert
      *ngIf="showAlert"
      [nzType]="typeAlert"
      [nzMessage]="messageAlert"
      [nzShowIcon]="true"
      style="margin-bottom: 3%"
    ></nz-alert>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
          >E-mail</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid E-mail!"
        >
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          nzFor="nickname"
          nzRequired
          nzTooltipTitle="What do you want other to call you"
        >
          <span>Nickname</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input your nickname!"
        >
          <input nz-input id="nickname" formControlName="nickname" />
        </nz-form-control>
        <!-- <div class="clearfix">
          <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzShowButton]="fileList.length < 1"
            [nzPreview]="handlePreview"
            (nzChange)="onChangeUpload($event)"
          >
            <div>
              <span nz-icon nzType="plus"></span>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
          <nz-modal
            [nzVisible]="previewVisible"
            [nzContent]="modalContent"
            [nzFooter]="null"
            (nzOnCancel)="previewVisible = false"
          >
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </div> -->
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Update</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-spin>
</div>
